<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="driver.sqlServer" value="sqlServer" />
    <add key="driver.mySql" value="mySql" />
    <add key="driver.travis" value="mySql" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="mySql" connectionString="Server=localhost;database=test;uid=user1;pwd=user1user1;Pooling=False;Connection Timeout=600;Allow User Variables=True;" />
    <add name="sqlServer" connectionString="Server=192.168.10.107;database=test;uid=user1;pwd=user1user1;Pooling=False;Connection Timeout=600;Allow User Variables=True;" />
    <add name="travis" connectionString="Server=127.0.0.1;database=test;uid=root;pwd=;Pooling=False;Connection Timeout=600;Allow User Variables=True;" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>